<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <span>
      <label for="initial-investment">Initial investment</label>
      <input
        id="initial-investment"
        name="initial-investment"
        type="number"
        step="100"
        [min]="0"
        [(ngModel)]="initialInvestment"
      />
    </span>
    <span>
      <label for="annual-investment">Annual investment</label>
      <input
        id="annual-investment"
        name="annual-investment"
        type="number"
        step="100"
        [min]="0"
        [(ngModel)]="annualInvestment"
      />
    </span>
  </div>

  <div class="input-group">
    <span
      ><label for="expected-return">Expected return</label>
      <input
        id="expected-return"
        name="expected-return"
        type="number"
        [defaultValue]="expectedReturn()"
        [min]="1"
        [(ngModel)]="expectedReturn"
      />
    </span>

    <span
      ><label for="duration">Duration</label>
      <input
        id="duration"
        name="duration"
        type="number"
        [defaultValue]="duration()"
        [min]="1"
        [(ngModel)]="duration"
      />
    </span>
  </div>
  <button type="submit">CALCULATE</button>
</form>
